.App {
  margin: 0 auto;
  width: 100vw;
  max-width: 350px;
}

.copyRight {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #10917e;
  font-weight: bold;
}

.App-logo {
}

@media (prefers-reduced-motion: no-preference) {
}
