.customizedButton {
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  border-radius: 40px;
  border: 2px solid #10917e;
  background-color: #f0f4f4;
  color: #10917e;
  margin: 20px auto 0;

  &:active {
    border: none;
    background-color: #58bf94;
    color: #f0f4f4;
    outline: none;
    background-size: 100%;
    transition: all 0.1s;
  }

  &:focus {
    outline: none;
  }
}
